.grid {
    height: 480px;
}
.grid-col1,
.grid-col2 {
    height: 100%;
    margin-right: 10px;
}
.grid-col3,
.grid-col4 {
    width: 190px;
    height: 100%;
}
.grid-col1 {
    width: 190px;
    background-color: #FEFEFE;

}
.grid-col1 a {
    font-size: 14px; 
    color: #626262;
}
.grid-col1 a:hover {
    color: #e33333;
}
.grid-col1 span {
    font-size: 12px;
    color: #a7a7a7;
}
.grid-col1 ul {
    padding: 10px 0;
    /* transition: background-color 1s 0; */
}
.grid-col1 ul li {
    padding-left: 14px;
    height: 27px;
    line-height: 27px;
    transition: background-color .25s ease;  /*hover过渡效果*/
}
.grid-col1 ul li:hover {
    background-color: #D9D9D9;
}

/* 第二列 */
.grid-col2 {
    width: 590px;
}
.grid-col2-t {
    height: 470px;
    margin-top: 10px;
    position: relative;
}
/* 轮播图箭头部分 */
.arrow-l,
.arrow-r {
    position: absolute;
    top: 50%;
    width: 24px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateY(-50%);
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
}
.arrow-l:hover, 
.arrow-r:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.arrow-r {
    right: 0;
}
.grid-col2-t i {
    font-family: "icomoon";
    font-style: normal;
}
/* 轮播图圆圈部分  */
.circle {
    width: 146px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    border-radius: 10px;
}
.circle li {
    width: 12px;
    height: 12px;
    background-color: rgba(241, 241, 241,0.5);
    border-radius: 50%;
    float: left;
    margin: 3px;
    /* cursor: pointer; 鼠标经过变成手 */
    transition: background-color .25s ease;  /*hover过渡效果*/
}
.circle li:hover {
    background-color: rgb(255, 255, 255);
}

/* 第三列 */
.grid-col3 {

}
.inner {
    height: 470px;
}
.inner div {
    width: 190px;
    height: 150px;
    margin-top: 10px;
}
/* 第四列 */
.grid-col4 {
}
.login {
    height: 150px;
    margin-top: 10px;
    background-color: #fff;
}
.login-inner {
    height: 78px;
    padding-top: 62px;
    position: relative;
    text-align: center;
}
.user-avatar {
    width: 65px;
    height: 65px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
}
.user-avatar a {
    display: block;
    width: 55px;
    height: 55px;
    border: 5px solid #e3e1df;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 3px 6px 25px #c3c3c3;
}
.user-show {
    padding: 0 10px;
}
.user-show p {
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    overflow: hidden;
    color: #888;
}
.user-show p:nth-child(2) a {
    padding: 0 1px;

}
.news {
    height: 130px;
    background-color: purple;
}
.expand {
    height: 190px;
    background-color: skyblue;
}